<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.karenreal.approomkr">

    <uses-sdk tools:overrideLibrary="android.support.design" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vercomentarios"></activity>
        <activity android:name=".ComentarioAdd" />
        <activity android:name=".Activity_Rellenar_Reserva" />
        <activity android:name=".Activity_Datos_Reserva" />
        <activity android:name=".ActivityScroolScape" />
        <activity android:name=".ActivityPublico" />
        <activity android:name=".Activity_Buscar" />
        <activity android:name=".ActivityLogin" />
        <activity android:name=".ActivityRegistrarse" />
        <activity
            android:name=".ActivityMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>